.posts{
    width: 700px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.post{
    border: 2px solid red;
    padding: 2rem;
    background-color: wheat;
}